<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
    <link rel="shortcut icon" href="../../../public/assets/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>Photo Gallery</title>
</head>

<body>
    <header id="header" class="header">
        <a href="/" class="logo">
            <img src="../../assets/img/logo.png" alt="web logo">
        </a>
        <div id="topbar" class="topbar">
            <div class="topbar__icon" data-type="login">
                <i class="fa fa-user"></i>
                <span>Log in</span>
            </div>
            <div class="topbar__icon" data-type="register">
                <i class="fa fa-user-plus"></i>
                <span>Register</span>
            </div>
            <div class="toggle-menu">
                <div id="toggle-menu" class="toggle-menu__icon">
                    <div class="first-bar"></div>
                    <div class="second-bar"></div>
                    <div class="third-bar"></div>
                </div>
            </div>
        </div>
    </header>


    <div id="sidebar" class="sidebar">
        <nav id="main-nav" class="main-nav">
            <ul id="main-menu" class="main-menu">
                <li class="main-menu__item">
                    <a href="../pages/index.html" class="main-menu__link">Home</a>
                </li>
                <li class="main-menu__item">
                    <a href="../pages/about.html" class="main-menu__link">About</a>
                </li>
                <li class="main-menu__item">
                    <a href="../pages/contact.html" class="main-menu__link">Contact</a>
                </li>
            </ul>
        </nav>
    </div>

    <main class="main">
        <h1 class="title">Contact</h1>

        <div class="contact">
            <div class="contact__form">
                <form class="form-contact">
                    <div class="form-contact__fields">
                        <input type="text" name="name" placeholder="name" class="form-contact__input">
                        <input type="email" name="email" placeholder="email" class="form-contact__input">
                        <input type="text" name="subject" placeholder="subject" class="form-contact__input">
                    </div>
                    <div class="form-contact__field">
                        <textarea name="message" placeholder="message" class="form-contact__textarea"></textarea>
                    </div>
                </form>
                <div class="form-contact__field">
                    <input type="submit" value="Send" class="form__submit">
                </div>
            </div>

            <div class="contact__map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d425122.2456412207!2d129.98377483105764!3d33.65022890064863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3541eda1e9848429%3A0xf60a729936398783!2sFukuoka%2C%20Prefectura%20de%20Fukuoka%2C%20Jap%C3%B3n!5e0!3m2!1ses-419!2smx!4v1672369305223!5m2!1ses-419!2smx"
                    style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="social">
                <div class="social__icon">
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-twitter-square"></i>
                </div>
                <div class="social__icon">
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-instagram"></i>
                </div>
                <div class="social__icon">
                    <i class="fab fa-youtube-square"></i>
                    <i class="fab fa-youtube-square"></i>
                </div>
                <div class="social__icon">
                    <i class="fab fa-pinterest-square"></i>
                    <i class="fab fa-pinterest-square"></i>
                </div>

            </div>
        </div>
    </main>

    <div id="login-modal" class="lightbox">
        <form id="login-form" class="form">
            <div class="form__field">
                <label for="login-email" class="form__label">Email</label>
                <input type="email" name="email" id="login-email" class="form__input">
            </div>
            <div class="form__field">
                <label for="login-password" class="form__label">Password</label>
                <input type="password" name="password" id="login-password" class="form__input">
            </div>
            <div class="form__field">
                <input type="submit" name="button" value="Send" class="form__submit">
            </div>
        </form>
    </div>

    <div id="register-modal" class="lightbox">
        <form class="form" id="register-form">
            <div class="form__field">
                <label for="register-email" class="form__label">Email</label>
                <input type="email" name="email" id="register-email" class="form__input">
            </div>
            <div class="form__field">
                <label for="register-password" class="form__label">Password</label>
                <input type="password" name="password" id="register-password" class="form__input">
            </div>
            <div class="form__field">
                <label for="register-password-2" class="form__label">Repeat password</label>
                <input type="password" name="password-2" id="register-password-2" class="form__input">
            </div>
            <div class="form__field form__buttons">
                <input type="submit" name="button" value="Send" class="form__submit">
            </div>
        </form>
    </div>

    <script src="../dev/js/main-menu.js"></script>
    <script src="../dev/js/login-register.js"></script>
</body>

</html>
