<div id="register-modal" class="lightbox">
    <form class="form" id="register-form">
        <div class="form__field">
            <label for="register-email" class="form__label">Email</label>
            <input type="email" name="email" id="register-email" class="form__input">
        </div>
        <div class="form__field">
            <label for="register-password" class="form__label">Password</label>
            <input type="password" name="password" id="register-password" class="form__input">
        </div>
        <div class="form__field">
            <label for="register-password-2" class="form__label">Repeat password</label>
            <input type="password" name="password-2" id="register-password-2" class="form__input">
        </div>
        <div class="form__field form__buttons">
            <input type="submit" name="button" value="Send" class="form__submit">
        </div>
    </form>
</div>
